:root {
	--secondary-color: #D3D4D9;
	--primary-color: #252627;
	--foreground-color: #252627;
	--dark-foreground:#FFF9FB;
	--red: #BB0A21;
	--blue: #4B88A2;
	--rounded: 8px;
	--button-hover-color: #010101
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: var(--foreground-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

#app {
	width: 100%;
	padding: 1rem;
}

.chatbox {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	gap: 1.5rem;
	padding: 1rem;
	border-radius: var(--rounded);
}

.contact-box {
	height: 100%;
	display: grid;	
	grid-template-rows: 0.4fr 1fr;
}

.contact-header {
	width: 100%;
	/* background-color: var(--blue); */
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.contact-header button {
	background-color: var(--primary-color);
	color: var(--dark-foreground);
}

button:hover {
	background-color: var(--button-hover-color);
}

.contact-header h2 {
	font-size: 2.5rem;
	font-weight: bold;
}

.contact-header input {
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 5px;
	border: 1px solid black;
}

.contacts {
	overflow-y: auto;
	height: 66vh;
}

.contact {
	padding: 1rem;
	border-radius: var(--rounded);
}

.contact:hover {
	background-color: var(--primary-color);
	color: var(--dark-foreground);
}

button {
	padding: 0.8rem 1.5rem;
	border-radius: var(--rounded);
	cursor: pointer;
}

.chat-content {
	display: grid;
	grid-template-rows: 2fr 0.2fr;
	/* border-left: 1px solid var(--primary-color); */
	padding: 0 1.5rem;
	/* background-color: var(--secondary-color); */
}

.chat-content form {
	display: flex;
	align-items: center;
	border-radius: var(--rounded);
	border: 2px solid var(--primary-color);
	background-color: #fff;
	padding: 1rem;
	gap: 1rem;
}

.chat-content form input {
	width: 100%;
	height: 3rem;
	border-radius: var(--rounded);
	padding: 0.5rem 1rem;
	border: 2px solid var(--primary-color);
}

.chat-content form button {
	background-color: var(--primary-color);
	color: var(--dark-foreground);
}

.inbox {
	display: grid;
	grid-template-rows: 0.2fr 2fr;
	gap: 1rem;
}

.chat-header h2 {
	font-size: 2rem;
}
.message-box {
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Stack messages vertically */
    align-items: flex-start; /* Align messages to the left by default */
}

.message {
    max-width: 300px;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 1.5rem;
    border-radius: 15px;
}

.sender {
    align-self: flex-end; /* Position sender messages to the right */
    background-color: var(--primary-color);
    color: #fff;
}

.receiver {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Clear the floats */
.message:after {
    content: "";
    display: table;
    clear: both;
}
